<%= render "posts/content", post: post %>
<blockquote cite="<%= post.bookmark_url %>">
  <%= raw post.bookmark_excerpt %>
</blockquote>

<% if post.bookmark_author.present? %>
  <cite>
    <p>( <a class="h-card" href="<%= post.bookmark_url %>"><%= post.bookmark_author %></a> )</p>
  </cite>
<% end %>
