<% if bookmark.public? || signed_in? %>
  <%= content_tag (in_a_list? ? :li : :div) do %>
    <%= content_tag :article, post_id_and_classes(bookmark) do %>

      <%= render "/posts/header", post: bookmark %>

      <div>
        <blockquote cite="<%= bookmark.bookmark_url %>">
          <%= raw bookmark.bookmark_excerpt %>
        </blockquote>

        <% if bookmark.bookmark_author.present? %>
          <cite>
            <p>( <a class="h-card" href="<%= bookmark.bookmark_url %>"><%= bookmark.bookmark_author %></a> )</p>
          </cite>
        <% end %>

        <%= render "/posts/content", post: bookmark %>
      </div>

      <%= render "/posts/footer",  post: bookmark %>
      <%= link_to "Edit", edit_bookmark_path(bookmark.params), class: "edit" if signed_in? %>

    <% end %>
  <% end %>
<% end %>
