<%= render "admin/form_errors", object: @post %>

<%= render "admin/form_title_subtitle", f: f %>
<%= render "admin/form_content", f: f %>

<fieldset>
  <legend class="h5">About the Bookmark</legend>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="form-group">
        <%= f.label :bookmark_url, "URL" %>
        <%= f.url_field :bookmark_url, class: "form-control" %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6">
      <div class="form-group">
        <%= f.label :bookmark_author, "Author" %>
        <%= f.text_field :bookmark_author, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :bookmark_excerpt, "Excerpt" %>
    <%= f.text_area :bookmark_excerpt, class: "form-control", rows: 6 %>
  </div>
</fieldset>

<%= render "admin/form_actions",   f: f, cancel_url: bookmarks_url %>
<%= render "admin/form_post_meta", f: f, post: @post %>
<%= render "admin/form_actions",   f: f, cancel_url: bookmarks_url %>
