<div class="page-header">
  <h1>Admin Dashboard</h1>
</div>

<nav role="navigation">
  <%= link_to "Tags", [:admin, :tags], class: "btn btn-default" %>
  <%= link_to "Profile", profile_path, class: "btn btn-default" %>
  <%= link_to "Settings", settings_path, class: "btn btn-default" %>
  <%= link_to "Links", links_path, class: "btn btn-default" %>
  <%= link_to "Redirects", redirects_path, class: "btn btn-default" %>
</nav>

<footer role="complimentary">
  <hr>
  <nav role="navigation">
    <%= link_to "Sign Out", signout_path, class: "btn btn-default" %>
  </nav>
</footer>
