<h1>Dashboard</h1>

<table class="table">
  <tr>
    <td>
      <%= link_to "NEW", new_note_path, class: "btn btn-primary btn-sm" %>
      <%= link_to "Notes", notes_path %>
    </td>
  </tr>

  <tr>
    <td>
      <%= link_to "NEW", new_article_path, class: "btn btn-primary btn-sm" %>
      <%= link_to "Articles", articles_path %>
    </td>
  </tr>

  <tr>
    <td>
      <%= link_to "NEW", new_bookmark_path, class: "btn btn-primary btn-sm" %>
      <%= link_to "Bookmarks", bookmarks_path %>
    </td>
  </tr>

  <tr>
    <td>
      <%= link_to "NEW", new_event_path, class: "btn btn-primary btn-sm" %>
      <%= link_to "Events", events_path %>
    </td>
  </tr>

  <tr>
    <td>
      <%= link_to "NEW", new_photo_path, class: "btn btn-primary btn-sm" %>
      <%= link_to "Photos", photos_path %>
    </td>
  </tr>

  <tr>
    <td>
      <%= link_to "NEW", new_sound_path, class: "btn btn-primary btn-sm" %>
      <%= link_to "Sounds", sounds_path %>
    </td>
  </tr>

  <tr>
    <td>
      <%= link_to "NEW", new_video_path, class: "btn btn-primary btn-sm" %>
      <%= link_to "Videos", videos_path %>
    </td>
  </tr>

  <tr>
    <td>
      <%= link_to "NEW", new_activity_path, class: "btn btn-primary btn-sm" %>
      <%= link_to "Activities", activities_path %>
    </td>
  </tr>

  <tr>
    <td>
      <%= link_to "NEW", new_page_path, class: "btn btn-primary btn-sm" %>
      <%= link_to "Pages", pages_path %>
    </td>
  </tr>
</table>
