<h1>NEW Post</h1>

<nav role="navigation">
  <%= link_to "Activity", "#activity", class: "btn btn-default" %>
  <%= link_to "Article",  "#article",  class: "btn btn-default" %>
  <%= link_to "Bookmark", "#bookmark", class: "btn btn-default" %>
  <%= link_to "Event",    "#event",    class: "btn btn-default" %>
  <%= link_to "Note",     "#note",     class: "btn btn-default" %>
  <%= link_to "Page",     "#page",     class: "btn btn-default" %>
  <%= link_to "Photo",    "#photo",    class: "btn btn-default" %>
  <%= link_to "Sound",    "#sound",    class: "btn btn-default" %>
  <%= link_to "Video",    "#video",    class: "btn btn-default" %>
</nav>

<% [@activity, @article, @bookmark, @event, @note, @page, @photo, @sound, @video].each do |post| %>
  <%# TODO clean this up %>
  <% post_type = post.post_type.class.to_s.downcase %>

  <div id="<%= post_type %>" role="tabpanel">
    <%= form_for post do |f| %>
      <h2><%= post_type.capitalize %></h2>
      
      <% path = post_type.pluralize %>
      <% path = "articles" if path == "pages" %>
      
      <%= render "#{path}/form", f: f, post: post %>
    <% end %>
  </div>
<% end %>
