<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @note.content %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @note.slug %>
</p>

<p>
  <strong>In reply to:</strong>
  <%= @note.in_reply_to %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @note.tags %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @note.published_at %>
</p>

<p>
  <strong>Private:</strong>
  <%= @note.private %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
