<% if article.public? || signed_in? %>
  <%= raw "<li>" if in_a_list? %>
    <article id="article-<%= article.id %>" class="h-entry">

      <header>
        <% if a_reply?(article) %>
          <div class="reply-context">
            <b>In Reply To</b>
            <%= link_to_in_reply_to_urls article %>
          </div>
        <% end %>

        <h1 class="p-name">
          <%= link_to article.path, class: "u-url u-uid" do %>
            <% unless article.title.blank? %>   <span class="p-hs-title">   <%= article.title %>   </span><% end %>
            <% unless article.subtitle.blank? %><span class="p-hs-subtitle"><%= article.subtitle %></span><% end %>
          <% end %>
        </h1>
      </header>
      
      <div class="e-content">
        <%= raw article.content %>
      </div>

      <%= render partial: "posts/footer", locals: { post: article } %>
      <%= link_to "Edit", edit_article_path(article.params), class: "edit" if signed_in? %>
        </article>
  <%= raw "</li>" if in_a_list? %>

<% end %>
