<nav role="navigation">
  <% if allow_signup? %><%= link_to "Sign Up", signup_path %><% end %>
  
  <% unless allow_signup? %>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Articles", articles_path %></li>
      <li><%= link_to "Bookmarks", bookmarks_path %></li>
      <li><%= link_to "Events", events_path %></li>
      <li><%= link_to "Notes", notes_path %></li>
      <li><%= link_to "Pages", pages_path %></li>
      <li><%= link_to "Photos", photos_path %></li>
      <li><%= link_to "Sounds", sounds_path %></li>
      <li><%= link_to "Videos", videos_path %></li>
    </ul>
  <% end %>
</nav>
