<footer role="contentinfo">
  <%= render "/shared/google_site_search" unless setting(:footer_show_site_search).blank? %>

  <div class="h-card">
    <%= render "/shared/site_owner_photo" unless setting(:footer_show_avatar).blank? %>

    <p>
      <% unless setting(:footer_show_name).blank? &&
           setting(:footer_show_email).blank? &&
           setting(:footer_show_email).blank? %>
        <strong>Contact:</strong>
      <% end %>

      <% unless @owner.name.blank? || setting(:footer_show_name).blank? %>
        <%= link_to @owner.name, root_url, class: "u-url p-name" %>
      <% end %>

      <% unless @owner.email.blank? || setting(:footer_show_email).blank? %>
        (<%= mail_to @owner.email, @owner.email, class: "u-email" %>)
      <% end %>
    </p>

    <% unless @owner.links.blank? || setting(:footer_show_links).blank? %>
      <p>
        <strong>Links:</strong>
        <% @owner.links.each do |link| %>
          <%= link_to link.name, link.url, rel: "me", class: "u-url" %>
        <% end %>
      </p>
    <% end %>
  </div>

  <% unless setting(:footer_show_license).blank? %>
    <p><%= license :html %>.</p>
  <% end %>
</footer>
