<h1>
  Posts  
  <%= link_to_unless_current "tagged", tags_path %>
  <%= link_to_tag(@tag) %>
</h1>

<p>
  <b>#<%= @tag.display(:name) %></b> elsewhere: <%= link_to_external_tag_pages @tag %>.
</p>

<ol>
  <% @tag.posts.each do |post| %>
    <li>
      <h1><%= link_to post.name, post.path %></h1>
    </li>
  <% end %>
</ol>
