<h1>
  <%= link_to "Settings", [:admin, :settings] %>:
  <%= @setting.name %>
</h1>

<%= form_for [:admin, @setting] do |f| %>
  <%= render "admin/form_errors", thing: @setting %>

  <div class="form-group">
    <%= f.label :content, @setting.name, class: "sr-only" %>

    <% if @setting.slug == "license" %>
      <%= f.select :content, License.options_for_select.map{|l| [l.first.html_safe, l.last]}, {}, class: "form-control input-lg" %>
    <% else %>
      <%= f.text_field :content, class: "form-control input-lg", autofocus: true %>
    <% end %>

  <%= render "admin/form_actions", f: f, cancel_url: [:admin, :settings], button_text: "Save" %>
<% end %>

<%= render "settings" %>
