<footer>
  <p class="dm-activity-sentence">
    <%= link_to "Edit", edit_post_path(post), class: "edit" if signed_in? %>

    <b><%= link_to post.type, "/#{post.namespace}", class: "p-x-post-type" %></b>

    <%= small_word_tag "by" %>

    <span class="p-author h-card">
      <%= link_to post.user.name, root_url, rel: "me", class: "u-url p-name" %>
    </span>

    <%= small_word_tag "on" %>

    <%= link_to post.path, class: "u-url u-uid" do %>
      <%= time_tag post.published_at, class: "dt-published" do %>
        <%= human_readable_date post.published_at %>
        <%= small_word_tag "at" %>
        <%= human_readable_time post.published_at %>
      <% end %>
    <% end %>
  </p>
  <% unless post.tags.blank? %>
    <p class="tags">
      <b>Tags</b>
      <%= link_to_tags_for(post) %>
    </p> <!-- .tags -->
  <% end %>

  <div class="syndication">
    <%= button_to "Syndicate to Twitter", syndicators_path(post.namespace, post.id, :twitter) %>
  </div> <!-- .syndication -->

  <% if lookup_context.template_exists?("footer", post.post_type_type.downcase.pluralize, true) %>
    <%= render "/#{post.post_type_type.downcase.pluralize}/footer", post: post.post_type %>
  <% end %>

</footer>
