<footer>
  <p>
    <%= link_to "Published", post.path, class: "u-url u-uid p-as-verb" %>

    <span class="screen-reader-only">
      this
      <span class="p-as-object"><%= link_to post.class.to_s.downcase, "/#{post.class.to_s.downcase.pluralize}" %></span>
    </span>

    <%= time_tag post.published_at, class: "dt-published" do %>
      <%= small_word_tag "on" %>
      <%= human_readable_date post.published_at %>

      <%= small_word_tag "at" %>
      <%= human_readable_time post.published_at %>
    <% end %>

    <%= small_word_tag "by" %>

    <span class="p-author p-as-actor h-card">
      <a href="<%= "TODO: AUTHOR_URL" %>" rel="me" class="u-url p-name">
        <%= "TODO: AUTHOR_NAME" %>
      </a>
    </span>
  </p>

  <% unless post.tags.split.blank? %>
    <p class="tags">
      <b>Tags</b>
      <%= link_to_tags_for(post) %>
    </p> <!-- .tags -->
  <% end %>


  <div class="syndication">
    <%#= link_to_syndication(post).html_safe %>
  </div> <!-- .syndication -->
</footer>
