<header>
  <% if a_reply?(post) %>
    <div class="reply-context">
      <b>In Reply To</b>
      <%= link_to_in_reply_to_urls post %>
    </div>
  <% end %>

  <% unless post.title.blank? %>
    <h1 class="p-name">
      <%= link_to post.path, class: "u-url u-uid" do %>
        <% unless post.title.blank? %>   <span class="p-hs-title">   <%= post.title %>   </span><% end %>
        <% unless post.subtitle.blank? %><span class="p-hs-subtitle"><%= post.subtitle %></span><% end %>
      <% end %>
    </h1>
  <% end %>

  <%# TODO: Only render this partial if it exists to remove blank post type partials %>
  <%= render "/#{post.class.to_s.downcase.pluralize}/header", post: post %>
</header>
