<% if signed_in? %>
  <div id="admin">
    <table>
      <tr>
        <td><p><%= link_to "Notes", notes_path %></p></td>
        <td><%= link_to "NEW", new_note_path, class: "button" %></td>
      </tr>
      <tr>
        <td><p><%= link_to "Articles", articles_path %></p></td>
        <td><%= link_to "NEW", new_article_path, class: "button" %></td>
      </tr>
      <tr>
        <td><p><%= link_to "Bookmarks", bookmarks_path %></p></td>
        <td><%= link_to "NEW", new_bookmark_path, class: "button" %></td>
      </tr>
      <tr>
        <td><p><%= link_to "Events", events_path %></p></td>
        <td><%= link_to "NEW", new_event_path, class: "button" %></td>
      </tr>
      <tr>
        <td><p><%= link_to "Photos", photos_path %></p></td>
        <td><%= link_to "NEW", new_photo_path, class: "button" %></td>
      </tr>
      <tr>
        <td><p><%= link_to "Sounds", sounds_path %></p></td>
        <td><%= link_to "NEW", new_sound_path, class: "button" %></td>
      </tr>
      <tr>
        <td><p><%= link_to "Videos", videos_path %></p></td>
        <td><%= link_to "NEW", new_video_path, class: "button" %></td>
      </tr>
      <tr>
        <td><p><%= link_to "Activities", activities_path %></p></td>
        <td><%= link_to "NEW", new_activity_path, class: "button" %></td>
      </tr>
      <tr>
        <td><p><%= link_to "Pages", pages_path %></p></td>
        <td><%= link_to "NEW", new_page_path, class: "button" %></td>
      </tr>
    </table>
    
  </div>
<% end %>
