<% if sound.public? || signed_in? %>
  <%= raw "<li>" if in_a_list? %>
    <article id="sound-<%= sound.id %>" class="h-entry">

      <header>
        <% if a_reply?(sound) %>
          <div class="reply-context">
            <b>In Reply To</b>
            <%= link_to_in_reply_to_urls sound %>
          </div>
        <% end %>

        <h1 class="p-name">
          <%= link_to sound.path, class: "u-url u-uid" do %>
            <% unless sound.title.blank? %>   <span class="p-hs-title">   <%= sound.title %>   </span><% end %>
            <% unless sound.subtitle.blank? %><span class="p-hs-subtitle"><%= sound.subtitle %></span><% end %>
          <% end %>
        </h1>
      </header>

      <div class="e-content">
        <audio controls>
          <source src="<%= sound.enclosure_url %>" class="u-audio" />
        </audio>

        <p class="download">
          <%= link_to "Download sound", sound.enclosure_url, class: "u-x-enclosure" %>
        </p>

        <div class="p-summary">
          <%= raw sound.content %>
        </div>
      </div>

      <%= render partial: "posts/footer", locals: { post: sound } %>
      <%= link_to "Edit", edit_sound_path(sound.params), class: "edit" if signed_in? %>
        </article>
  <%= raw "</li>" if in_a_list? %>

<% end %>
