<div class="p-name e-content">
  <p class="h-activity">
    <data class="p-type" value="<%= post.activity_type.downcase %>"><%= post.activity_verb.capitalize %></data>

    <data class="p-amount" title="<%= post.amount.gsub(/\D/, "") %>"><%= post.amount %></data>
    <abbr class="p-unit" title=""><%= post.unit %></abbr>

    (<data class="p-converted-amount" title="<%= post.converted_amount.gsub(/\D/, "") %>"><%= post.converted_amount %></data>
    <abbr class="p-converted-unit" title=""><%= post.converted_unit %></abbr>)
    
    <% if post.starts_at.present? && post.ends_at.present? %>
      <%= small_word_tag("from") %> 
      <%= time_tag post.starts_at, human_readable_time(post.starts_at), class: "dt-start" %>

      <%= small_word_tag("to") %> 
      <%= time_tag post.ends_at, human_readable_time(post.ends_at), class: "dt-end" %>
    <% end %>
  </p>
</div>

