<%= render "admin/form_errors", thing: @post %>

<div class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="form-group">
      <%= f.label :activity_type, "Type" %>
      <%= f.text_field :activity_type, class: "form-control" %>
      <p class="help-block">Meal, run, walk, weight, etc</p>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <div class="form-group">
      <%= f.label :activity_verb, "Verb" %>
      <%= f.text_field :activity_verb, class: "form-control" %>
      <p class="help-block">Past tense: ate, ran, walked, weighed, etc</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="form-group">
      <%= f.label :amount %>
      <%= f.text_field :amount, class: "form-control" %>
      <p class="help-block">E.g. 1 (as in miles)</p>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <div class="form-group">
      <%= f.label :unit %>
      <%= f.text_field :unit, class: "form-control" %>
      <p class="help-block">Calories, miles, lbs, etc</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="form-group">
      <%= f.label :converted_amount %>
      <%= f.text_field :converted_amount, class: "form-control" %>
      <p class="help-block">E.g. 1.61 (as in kilometers)</p>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <div class="form-group">
      <%= f.label :converted_unit %>
      <%= f.text_field :converted_unit, class: "form-control" %>
      <p class="help-block">Calories, kilometers, kgs, etc</p>
    </div>
  </div>
</div>

<%= render "admin/form_actions",   f: f, cancel_url: activities_url %>

<fieldset>
  <legend class="h5">Dates and Times</legend>
  <%= render "admin/datetime_group", f: f, attr: :starts_at, thing: @post, include_blank: false %>
  <%= render "admin/datetime_group", f: f, attr: :ends_at,   thing: @post, include_blank: false %>
</fieldset>

<%= render "admin/form_actions",   f: f, cancel_url: activities_url %>
<%= render "admin/form_post_meta", f: f, post: @post %>
<%= render "admin/form_actions",   f: f, cancel_url: activities_url %>
