<!DOCTYPE html>
<html>
<head>
  <title>HomesteadingServerRails</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <div>
      <% if signed_in? %>
        <%= current_user.email %>
        <%= link_to "Profile", profile_path %>
        <%= link_to "Settings", settings_path %>
        <%= link_to "Sign Out", signout_path %>
      <% else %>
        <% if allow_signup? %><%= link_to "Sign Up", signup_path %><% end %>
        <%= link_to "Sign In", signin_path %>
      <% end %>
    </div>

    <div>
      <%= link_to "Home", root_path %>
      <%= link_to "Articles", articles_path %>
      <% if signed_in? %>(<%= link_to "new", new_article_path %>)<% end %>
      <%= link_to "Bookmarks", bookmarks_path %>
      <% if signed_in? %>(<%= link_to "new", new_bookmark_path %>)<% end %>
      <%= link_to "Notes", notes_path %>
      <% if signed_in? %>(<%= link_to "new", new_note_path %>)<% end %>
      <%= link_to "Photos", photos_path %>
      <% if signed_in? %>(<%= link_to "new", new_photo_path %>)<% end %>
      <%= link_to "Sounds", sounds_path %>
      <% if signed_in? %>(<%= link_to "new", new_sound_path %>)<% end %>
      <%= link_to "Videos", videos_path %>
      <% if signed_in? %>(<%= link_to "new", new_video_path %>)<% end %>
    </div>
  </nav>

  <% if flash[:notice] %><div><%= flash[:notice] %></div><% end %>
  <% if flash[:alert]  %><div><%= flash[:alert]  %></div><% end %>

  <%= yield %>

</body>
</html>
