<!DOCTYPE html>
<html dir="<%= setting(:text_direction).downcase %>"
      lang="en-US"
      prefix="og: http://ogp.me/ns#"
      id="<%= @slug %>">

<head>
  <%= render "shared/license" %>
  <title><%= site_title %></title>
  <%= render "shared/meta_tags" %>
  <%= render "shared/backward_compatibility_meta_tags" %>
  <%= render "shared/link_tags" %>
  <%= render "shared/fav_and_touch_icons" %>
  <%= render "shared/html5_shiv" %>
  <%= render "shared/stylesheets" %>
  <%= render "shared/javascripts" %>
</head>

<body>
  <%= render "shared/site_header" %>
  <%= render "shared/site_nav" %>
  <%= render "admin/notifications" %>

  <main role="main">
    <%= yield %>
  </main>

  <%= render "shared/site_footer" %>
</body>
</html>
